<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumTestSuite" parallel="false">

    <test name="RegressionTests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.AlertTest"/>
            <class name="tests.ElementsTest"/>
        </classes>
    </test>

</suite>
